#ifndef SECRETS_H
#define SECRETS_H

// WiFi
#define WIFI_SSID "your-wifi-ssid"
#define WIFI_PASS "your-wifi-password"

// HiveMQ Cloud MQTT
#define MQTT_USER "your-hivemq-user"
#define MQTT_PASS "your-hivemq-password"

#endif
